

.food {
    height: 900px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: auto;
    
}

.food::after {
    content: "";
    display: block;
    opacity: .4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
}

.food * {
    position: relative;
    z-index: 2;
}

.food h1, .food h2 {
    color: #910000;
}

.food h1 {
    font-size: 60px;
    padding-top: 140px;
    margin-top: 0;
}

.headings {
    margin-top: 10%;
}

.search {
    margin-left: 40.5%;
}

.search Button {
    margin-left: 25% !important;
    margin-top: -4%;
    padding: 1.1%;
}